/** Corretora **/
.corretora {
  background-color: #7131f3;
  background-image: linear-gradient(to right, #7131f3, #b38bff);
  color: #FFF;
  padding-top: 100px;

  p {
    color: #fff;
  }

  button {
    margin-top: 1em;
    background-color: #7131f3;
    background-image: linear-gradient(to left, #7131f3, #b38bff);
    border: 0;
    padding: 10px;
    @include borda-arredondada;
    font-weight: bold;
    color: #FFF;
    font-size: small;
  }
}

#telefone1 {
  float: right;
  width: 220px;
  height: 600px;
}

.clear {
  clear: both;
}