/** Header **/
header {
  background-color: #7131f3;
  background-image: linear-gradient(to right, #7131f3, #b38bff);
  width: 100%;
  position: absolute;

  button{
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    color: #7131f3;
    padding: 10px;
    font-size: small;
  }
}

/* Menu Principal */
.menu-principal ul ul {
  display: none;
}

.menu-principal ul li:hover > ul {
  display: block;
  border-radius: 5px;
}

.menu-principal {
  margin: 0 auto;
  position: absolute;
  right: 400px;
}

.menu-principal ul {
  list-style: none;
  position: relative;
  display: inline-table;
  top: -110px;
  left: 200px;
}

.menu-principal ul:after {
  content: "";
  clear: both;
  display: block;
}

.menu-principal ul li {
  float: left;
}
  
.menu-principal ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.menu-principal ul ul {
  position: absolute;
  top: 100%;
}

.menu-principal ul ul li {
  float: none; 
  position: relative;
}

.menu-principal ul ul li a:hover {
  color: #7131f3;
}

.menu-principal .menu-list ul li a{
  color: #a9a9a9;
}

.menu-principal .sub-menu {
  background-color: #fff;
  padding: 10px;
}

.menu-principal a:hover {
  border-top: 3px solid #fff;
}

.menu-principal a {
  border-top: 3px solid transparent;
}