/** Header **/
header {
  background-color: #7131f3;
  background-image: linear-gradient(to right, #7131f3, #b38bff);
  width: 100%;
  position: absolute;
  top: 0;

  .container {
    position: relative;
  }

  button{
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    color: #7131f3;
    padding: 10px;
    font-size: small;
  }

  @media #{$mq-mobile}{
    height: auto;

    .container {
      position: static;
    }

    h1 {
      max-width: 50%;
      margin: 0 auto;

      img {
        max-width: 100%;
        margin: .5em auto;
        display: block;
      }
    } //fim H1
  } //fim Media Query
} //fim Header

/* Menu Principal */
.menu-principal ul ul {
  display: none;
}

.menu-principal ul li:hover > ul {
  display: block;
}

.menu-principal {
  margin: 0 auto;
  text-align: center;
}

.menu-principal ul {
  background: #efefef; 
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
  background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;
}

.menu-principal ul:after {
  content: "";
  clear: both;
  display: block;
}

.menu-principal ul li {
  float: left;
}

.menu-principal ul li:hover a {
  color: #a9a9a9;
}
  
.menu-principal ul li a {
  display: block;
  padding: 15px 20px;
  color: #757575;
  text-decoration: none;
}

.menu-principal ul ul {
  background: #5f6975;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}

.menu-principal ul ul li {
  float: none; 
  position: relative;
}

.menu-principal ul ul li a {
  background-color: #FFF;
  padding: 15px 20px;
}	

.menu-principal ul ul li a:hover {
  color: #7131f3;
}

.menu-principal ul ul ul {
  position: absolute;
  left: 100%;
  top:0;
}