/** Solução **/
.solucao .container {
    width: 530px;
    position: relative;
    top: -500px;
    right: -200px;
    border: solid 1px;
}

.titulo {
    text-align: center;
    border: solid 1px;
}

.titulo h2 {
    color: #232332;
}

.solucao p {
    color: #9898a6;
}

.clear {
    clear: both;
}

.solucao img {
    margin: 0 0 0 200px;
    width: 400px;
    height: 600px;
    border: solid 1px;
}