/** Solução **/
.solucao .titulo{
    text-align: center;

    h2 {
        color: #232332;
    }

    p {
        margin: 0 210px 0 210px;
    }
}

#telefone2 {
    float: left;
    width: 220px;
    height: 600px;
}

.solucao #icon-responsivo {
    width: 29px;
    height: 31px;
    border: solid 1px #dfd1fc;
    background-color: #f2effd;
    padding: 10px;
    border-radius: 4px;
}

.solucao #icon-projetos { 
    width: 45px;
    height: 45px;
    border: solid 1px #dfd1fc;
    background-color: #6b28f2;
    background: linear-gradient(to top, #6b28f2, #b086ff);
    border-radius: 4px;
}

.solucao #icon-seguranca { 
    width: 29px;
    height: 31px;
    border: solid 1px #dfd1fc;
    background-color: #f2effd;
    padding: 10px;
    border-radius: 4px;
}

.solucao #icon-software { 
    width: 30px;
    height: 22px;
    border: solid 1px #dfd1fc;
    background-color: #f2effd;
    padding: 14px 10px 14px 10px;
    border-radius: 4px;
}

.solucao .flex-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 200px;
    margin: 100px;
}
  
.solucao .flex-container > div {
    width: 260px;
}

.clear {
    clear: both;
}