/** Wine **/
.wine {
    padding-top: 10em;
}

.wine h1 {
    color: #232332;
}

.wine p {
    width: 22em;
    color: #9898a6;
}

.wine .container {
    width: 300px;
    position: relative;
    left: -300px;
}

.wine button {
    margin-top: 1em;
    background-color: #7131f3;
    background-image: linear-gradient(to right, #7131f3, #b38bff);
    border: 0;
    padding: 10px;
    @include borda-arredondada;
    font-weight: bold;
    color: #FFF;
    font-size: small;
}

.wine img {
    position: relative;
    float: right;
    margin: -310px 80px 0 0;
}

.clear {
    clear: both;
}